.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 70px; /* Adjust the width as needed */
    background-color: #333; /* Sidebar background color */
    color: #fff; /* Text color */
    /* overflow-y: auto; Enable vertical scrolling if content overflows */
    z-index: 1000; /* Ensure the sidebar stays above other content */
    transition: top 0.3s;
}

/* Sidebar logo styling */
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

/* Sidebar navigation links styling */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Sidebar links styling */
li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

/* Sidebar link hover effect */
li a:hover {
    background-color: #555; /* Highlight color on hover */
}

/* Active link styling */
li.active a {
    background-color: #007bff; /* Active link background color */
}

/* Main content container */
.main-content {
    margin-left: 250px; /* Adjust based on sidebar width */
    padding: 20px;
  }

/* Media query for smaller screens */
@media (max-width: 768px) {
    .sidebar {
      width: 0; /* Hide the sidebar on smaller screens */
    }
  
    .main-content {
      margin-left: 0; /* No margin on smaller screens */
    }
  }