Form{
    display:flex;
    flex-direction:column;
    margin:auto;
    margin-top:100px;
    background: #fff;
    padding-bottom: 30px;
    width: 600px;
    border: 2px solid rgb(233, 230, 230);
    padding: 30px;
}
.form-container {
    border: 2px solid black; /* Add a black border to the form container */
    padding: 20px; /* Add padding to create space within the form container */
  }
h1{
    display: flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    margin-top: 30px;
    color: red;
}
.submit-button {
    background-color: red;
    color: white;
    margin-right: 10px; 
    /* display: flex; */
  
    width: 120px; 
    height: 40px;
    
   
  }
  
  .cancel-button {
    background-color: gray;
    color: white;
    margin-right: 10px; 
    width: 120px; 
  height: 40px;
  }
  .form-control {
    margin-bottom: 10px; /* Add spacing between each form control */
    margin-right: 10px; 
    gap:50px
  }
 
  .button{
    margin-top: 10px;
    padding: 30px;
  }
  /* Style for the Submit button */
 